@model Data.Models.FilmData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Film data</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Runtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetAudience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetAudience)
        </dd>
    </dl>
    <img src="@Model.Poster" alt="Poster" style="height:300px;"/>
</div>
<div>
    <form asp-action="Edit" asp-route-id="@Model.FilmId" method="get" class="my-4">
        <input type="submit" value="Edit" class="btn btn-success" />
    </form>
    <form asp-action="Delete" asp-route-id="@Model.FilmId" class="my-4">
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete the film and the related projections?');" />
    </form>
    <a asp-action="Index">Back to List</a>
</div>
<br />
<h2 class="text-center">Reviews</h2>
<hr />

<table class="table col-md-12">
    <thead>
        <tr>
            <th> Author</th>
            <th> Content</th>
            <th> Created on</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Film.FilmReviews)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <form asp-action="DeleteReview" asp-route-id="@item.Id" class="my-4">
                    <input type="hidden" asp-for="FilmId" />
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete the review?');" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>