@model CinemaShare.Models.InputModels.FilmInputModel
@using Data.Enums;
@{
    ViewData["Title"] = "Add film";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var imgPosterSource = Model?.Poster ?? "";
}

<h1 class="text-center">Add film</h1>
<hr />
<div class="row1">
    <div class="col-md-4">
        <form asp-controller="Films" asp-action="FetchFilm" class="d-inline-flex" method="post">
            <input class="form-control" name="Title" placeholder="Film title" />
            <input class="btn btn-primary submit-but" type="submit" value="Try Fetch Film" />
        </form>
        <small class="text-dark">Note: Should enter exact IMDb title, case-insensitive</small>
        <div>
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <br />
        <form enctype="multipart/form-data" asp-controller="Films" asp-action="Add" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Title"></label>
                <input asp-for="@Model.Title" class="form-control" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
                <small class="text-dark">Note: Title can't be edited</small>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Director"></label>
                <input asp-for="@Model.Director" class="form-control" />
                <span asp-validation-for="@Model.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Cast"></label>
                <input asp-for="@Model.Cast" class="form-control" />
                <span asp-validation-for="@Model.Cast" class="text-danger"></span>
            </div>
            <div id="poster-url" class="form-group">
                <label asp-for="@Model.Poster"></label>
                <input id="poster-url-field" asp-for="@Model.Poster" class="form-control" />
                <div><small class="text-dark">Note: Should specify poster URL. If poster preview is not working, url is invalid</small></div>
                <div><img id="url-preview" src="@imgPosterSource" style="height:200px;" alt="Poster preview" /></div>
                <div><span asp-validation-for="@Model.Poster" class="text-danger"></span></div>
                <button id="upload-img" type="button" class="btn btn-primary my-4">Upload image instead</button>
            </div>
            <div id="poster-img" class="form-group">
                <label asp-for="@Model.PosterUpload"></label>
                <input asp-for="@Model.PosterUpload" />
                <button id="upload-url" type="button" class="btn btn-primary my-4">Specify poster URL instead </button>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description"></label>
                <textarea asp-for="@Model.Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Rating"></label>
                <input asp-for="@Model.Rating" class="form-control" />
                <span asp-validation-for="@Model.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Runtime"></label>
                <input asp-for="@Model.Runtime" class="form-control" />
                <span asp-validation-for="@Model.Runtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ReleaseDate"></label>
                <input asp-for="@Model.ReleaseDate" class="form-control" />
                <span asp-validation-for="@Model.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.TargetAudience"></label>
                <select class="form-control" asp-for="@Model.TargetAudience" asp-items="Html.GetEnumSelectList<TargetAudience>()">
                </select>
                <span asp-validation-for="@Model.TargetAudience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Genre"></label>
                <br />
                <select class="form-control" multiple="multiple" asp-for="@Model.Genre" asp-items="Html.GetEnumSelectList<Genre>()">
                </select>
                <span asp-validation-for="@Model.Genre" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary submit-but">Add Film</button>
            <div>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            const uploadImgBut = "#upload-img";
            const uploadImgSection = "#poster-img";
            const uploadUrlBut = "#upload-url";
            const uploadUrlSection = "#poster-url";
            const urlField = "#poster-url-field";
            const urlImgPreview = "#url-preview";
            const spinner = ".spinner-border";
            const fetchBut = ".submit-but";
            const posterFieldEmptyValue = "@Guid.NewGuid().ToString()";
            const fetchUrlResult= "@imgPosterSource";

            $(uploadImgSection).hide();
            $(spinner).hide();

            $(uploadImgBut).click(function () {
                $(uploadUrlSection).hide();
                $(uploadImgSection).show();
                $(urlField).val(posterFieldEmptyValue);
            });

            $(uploadUrlBut).click(function () {
                $(uploadUrlSection).show();
                $(uploadImgSection).hide();
                $(urlField).val(fetchUrlResult);
            });

            $(urlField).on("input",function () {
                $(urlImgPreview).attr("src", $(urlField).val());
            });

            $(fetchBut).click(function () {
                $(spinner).show();
            });
        })
    </script>
    <partial name="_ValidationScriptsPartial" />
}
