@using Microsoft.AspNetCore.Identity
@using Data.Models
@model CinemaShare.Models.ViewModels.FilmDataViewModel
@inject UserManager<CinemaUser> UserManager
@{
    ViewData["Title"] = "Film details";
}


<h1 class="text-center">Film Details</h1>
<br />
@if (User.Identity.IsAuthenticated)
{
    var user = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
    if (!user.WatchList.Any(x => x.FilmData.Title.Equals(Model.Title)))
    {
        <form asp-controller="Films" asp-action="AddToWatchList" asp-route-id="@Model.Id" class="py-1" method="post">
            <input class="btn btn-light" type="submit" value="Add to WatchList" />
        </form>
    }
    else
    {
        <form asp-controller="Films" asp-action="RemoveFromWatchList" asp-route-id="@Model.Id" class="py-1" method="post">
            <input class="btn btn-light" type="submit" value="Remove from WatchList" />
        </form>
    }
}
@if (Model.CreatedByUserId == UserManager.GetUserId(User))
{
    // <form asp-controller="Films" asp-action="Delete" asp-route-id="@Model.Id" method="post">
    //     <input class="bg-danger" type="submit" onclick="return confirm('Are you sure you want to delete this item?');" value="Delete" />
    // </form>
    <form asp-controller="Films" asp-action="Update" asp-route-id="@Model.Id" method="get">
        <input class="btn btn-info" type="submit" value="Update" />
    </form>
}

<div class="content-heading clearfix media">
    <img class="rounded float-left" style="max-height:600px; max-width:400px; max-width:50%;/*height:600px; width:400px*/" src="@Model.Poster" alt="Film poster">
    <div style="margin-left:30px;">
        <h3 class="text-dark font-weight-bold">@Model.Title</h3>
        <h5 class="text-dark ">Rating: @Model.Rating</h5>
        <p class="text-dark ">Director: @Model.Director</p>
        <p class="text-dark ">Runtime: @Model.Runtime minutes</p>
        <p class="text-dark ">Genres: @Model.Genres</p>
        <p class="text-dark ">Target audience: @Model.TargetAudience</p>
        <p class="text-dark ">Release date: @Model.ReleaseDate.ToString("dd/MM/yyyyг.")</p>
        <p class="font-weight-bold " style="color:black">Description: @Model.Description</p>
        <br />
        @if (User.Identity.IsAuthenticated)
        {
            <h3>Rate: </h3>
            <form asp-controller="Films" asp-action="RateFilm" asp-route-id="@Model.Id" method="post">
                <input class="btn btn-danger" type="submit" name="rating" value="1" />
                <input class="btn btn-warning" type="submit" name="rating" value="2" />
                <input class="btn btn-primary" type="submit" name="rating" value="3" />
                <input class="btn btn-info" type="submit" name="rating" value="4" />
                <input class="btn btn-success" type="submit" name="rating" value="5" />
            </form>
        }
        else
        {
            <h3>
                <a id="login" asp-area="Identity" asp-page="/Account/Login">Log in </a> to rate the film
            </h3>
        }
    </div>
</div>
</br>

<h1 class="text-center">Projections</h1>
<hr>
@if (Model.FilmProjections?.Count == 0)
{
    <h5>No projections added yet.</h5>
}
else
{
    <ul class="col-md-12">
        @foreach (var projection in Model.FilmProjections)
        {
            <li class="col-md-4 box-hover list-unstyled">
                <a asp-controller="Projections" asp-action="Detail" asp-route-id="@projection.Id" class="text-decoration-none box-hover">
                    <h5>Cinema: @projection.CinemaName</h5>
                    <h5>City: @projection.CinemaCity</h5>
                    <h5>Projection type: @projection.ProjectionType.ToString().Substring(1)</h5>
                    <h5>Date: @projection.Date.ToString("dd/MM/yyyy HH:mm")</h5>
                </a>
            </li>
        }
    </ul>
}

<div class="row bootstrap snippets">
    <div class="col-md-12 col-sm-12 mt-3 mb-2">
        <div>
            <h1 class="text-center">Reviews</h1>
        </div>
        <hr />
        <div class="panel-body">
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Films" asp-action="AddReview" method="post" asp-route-id="@Model.Id">
                    <input type="text" name="Content" class="form-control" placeholder="Write a review..." rows="3" />
                    <br>
                    <button type="submit" class="btn btn-info pull-right">Post</button>
                    <div class="clearfix"></div>
                    <hr>
                </form>
            }
            else
            {
                <a id="login" asp-area="Identity" asp-page="/Account/Login">Log in to review the film</a>
            }
        </div>
    </div>
</div>

@if (Model.FilmReviews.Count == 0)
{
    <h5>No reviews added yet.</h5>
}
else
{<ul class="media-list mb-5">
        @foreach (var review in Model.FilmReviews)
        {
            <li class="media">
                <div class="pull-left">
                    @{var source = ((int)review.UserGender).ToString() + ".jpg";}
                    <img src="https://bootdey.com/img/Content/user_@source"
                         alt="Avatar" class="img-circle">
                </div>
                <div class="media-body">
                    <span class="text-muted pull-right">
                        <small class="text-muted">@review.CreatedOn.ToLocalTime().ToString("dd/MM/yyyyг. HH:mm:ss")</small>
                    </span>
                    <strong class="text-success">@review.Username</strong>
                    <p>
                        @review.Content
                    </p>
                </div>
            </li>
        }
    </ul>
    <script>
        $(window).on("load", function () {
            $(window).trigger("resize");
        });
    </script>
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
