@model CinemaShare.Models.ViewModels.FilmDataViewModel

@{
    ViewData["Title"] = "Detail";
}


<h1>Details</h1>

<div class="content-heading clearfix media">
    <img class="rounded float-left" style="height:600px; width:400px" src="@Model.Poster" alt="Film poster">
    <div style="margin-left:30px;">
        <h3 class="text-dark font-weight-bold">@Model.Title</h3>
        <h5 class="text-dark ">Rating: @Model.Rating</h5>
        <p class="text-dark ">Director: @Model.Director</p>
        <p class="text-dark ">Runtime: @Model.Runtime minutes</p>
        <p class="text-dark ">Genres: @Model.Genres</p>
        <p class="text-dark ">Target audience: @Model.TargetAudience</p>
        <p class="text-dark ">Release date: @Model.ReleaseDate.ToString("dd/MM/yyyyг.")</p>
        <p class="font-weight-bold " style="color:black">Description: @Model.Description</p>
    </div>
</div>

@if(User.Identity.IsAuthenticated)
{
<form asp-controller="Films" asp-action="RateFilm" asp-route-id="@Model.Id" method="post">
    <input type="submit" name="rating" value="1" />
    <input type="submit" name="rating" value="2" />
    <input type="submit" name="rating" value="3" />
    <input type="submit" name="rating" value="4" />
    <input type="submit" name="rating" value="5" />
</form>
}
else
{
    <a href="#">Log in to rate the film</a>
}

@foreach (var projection in Model.FilmProjections)
{
    <h5>@projection.Cinema</h5>
    <h5>@projection.Date.ToString()</h5>
}

    <div class="row bootstrap snippets">
        <div class="col-md-12 col-sm-12" style="margin:20px 0px 10px 0px">
            <div>
                <h1 class="text-center">Reviews</h1>
            </div>
            <div class="panel-body">
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Films" asp-action="AddReview" method="post" asp-route-id="@Model.Id">
                        <input type="text" name="Content" class="form-control" placeholder="Write a review..." rows="3" />
                        <br>
                        <button type="submit" class="btn btn-info pull-right">Post</button>
                        <div class="clearfix"></div>
                        <hr>
                    </form>
                }
                else
                {
                    <a href="#">Log in to review the film</a>
                }
            </div>
        </div>
    </div>

    @foreach (var review in Model.FilmReviews)
    {
        <ul class="media-list" style="margin-bottom:20px">
            <li class="media">
                <div class="pull-left">
                    @{var source = ((int)review.User.Gender).ToString() + ".jpg";}
                    <img src="https://bootdey.com/img/Content/user_@source"
                         alt="Avatar" class="img-circle">
                </div>
                <div class="media-body">
                    <span class="text-muted pull-right">
                        <small class="text-muted">@review.CreatedOn.ToLocalTime().ToString("dd/MM/yyyyг. HH:mm:ss")</small>
                    </span>
                    <strong class="text-success">@review.User.UserName</strong>
                    <p>
                        @review.Content
                    </p>
                </div>
            </li>
        </ul>
    }

<div style="margin-bottom:80px;"></div>
