@model ExtendedFilmCardViewModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Details</h1>

<div class="content-heading clearfix media">
    <img class="rounded float-left" style="height:600px; width:400px" src="@Model.Poster" alt="Film poster">
    <div style="margin-left:30px;">
        <h3 class="text-dark font-weight-bold">@Model.Title</h3
        <h5 class="text-dark ">Rating: @Model.Rating</h5>
        <p class="text-dark ">Director: @Model.Director</p>
        <p class="text-dark ">Runtime: @Model.Runtime minutes</p>
        <p class="text-dark ">Genres: @Model.Genres</p>
        <p class="text-dark ">Target audience: @Model.TargetAudience</p>
        <p class="text-dark ">Release date: @Model.ReleaseDate.ToShortDateString()</p>
        <p class="font-weight-bold " style="color:black">Description: @Model.Description</p>
        <div style="padding-left: 40px;">
            <img src="@Model.Poster" style="height:300px; width:200px;" alt="Scene photo">
            <img src="@Model.Poster" style="height:300px; width:200px;" alt="Scene photo">
            <img src="@Model.Poster" style="height:300px; width:200px;" alt="Scene photo">
        </div>
    <div />
    </div>
