@model CinemaShare.Models.InputModels.ProjectionInputModel
@{
    ViewData["Title"] = "Add projection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Add projection</h1>

<div class="row1">
    <div class="col-md-4">
        <form asp-controller="Projections" asp-action="Add" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.FilmTitle"></label>
                <input asp-for="@Model.FilmTitle" class="form-control" />
                <span asp-validation-for="@Model.FilmTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Date"></label>
                <input asp-for="@Model.Date" class="form-control" />
                <span asp-validation-for="@Model.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ProjectionType"></label>
                <select class="form-control" asp-for="@Model.ProjectionType" asp-items="Html.GetEnumSelectList<Data.Enums.ProjectionType>()">
                </select>
                <span asp-validation-for="@Model.ProjectionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.TotalTickets"></label>
                <input asp-for="@Model.TotalTickets" class="form-control" />
                <span asp-validation-for="@Model.TotalTickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ChildrenTicketPrice"></label>
                <input asp-for="@Model.ChildrenTicketPrice" class="form-control" />
                <span asp-validation-for="@Model.ChildrenTicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.StudentsTicketPrice"></label>
                <input asp-for="@Model.StudentsTicketPrice" class="form-control" />
                <span asp-validation-for="@Model.StudentsTicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.AdultsTicketPrice"></label>
                <input asp-for="@Model.AdultsTicketPrice" class="form-control" />
                <span asp-validation-for="@Model.AdultsTicketPrice" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add Projection</button>
        </form>
    </div>
</div>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }