@model CinemaShare.Models.ViewModels.ProjectionDataViewModel
@{
    ViewData["Title"] = "Projection details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>
<div class="content-heading clearfix media box-hover"
    style="text-decoration:none; margin: 0 auto; width: 30%;">
    <div style="margin-left: 30px;">
        <h3 class="text-dark font-weight-bold">@Model.CinemaName</h3>
        <h5 class="text-dark ">Film: @Model.FilmTitle</h5>
        <h5 class="text-dark ">Date: @Model.Date</h5>
        <h5 class="text-dark ">Projection type: @Model.ProjectionType</h5>
        <h5 class="text-dark ">Total tickets: @Model.TotalTickets</h5>
        <h5 class="text-dark ">Total sold tickets: @Model.TicketsSold</h5>
        <h5 class="text-dark ">Children ticket price: @Model.ChildrenTicketPrice</h5>
        <h5 class="text-dark ">Students ticket price: @Model.StudentsTicketPrice</h5>
        <h5 class="text-dark ">Adults ticket price: @Model.AdultsTicketPrice</h5>
        @if (Model.AvailableTickets > 0)
        {
            <h5 class="text-dark ">Available tickets: @Model.AvailableTickets</h5>
            <a asp-controller="Tickets" asp-action="Reserve" asp-route-id="@Model.Id">Reserve a ticket</a>
        }
        else
        {
            <h5 class="text-danfer ">No tickets available</h5>
        }
    </div>
</div>

