@model CinemaShare.Models.ViewModels.ProjectionDataViewModel
@{
    ViewData["Title"] = "Projection details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Projection details</h1>
<hr />
<div class="content-heading clearfix media text-decoration-none m-auto w-100 justify-content-center">
    <div class="ml-4">
        <h3 class="text-dark font-weight-bold text-center" >@Model.FilmTitle</h3>
        <h5 class="text-dark ">Cinema: @Model.CinemaName</h5>
        <h5 class="text-dark ">@Model.CinemaCity, @Model.CinemaCountry</h5>
        <h5 class="text-dark ">Date: @Model.Date.ToString("dd/MM/yyyy HH:mm")</h5>
        <h5 class="text-dark ">Projection type: @Model.ProjectionType.ToString().Substring(1)</h5>
        <h5 class="text-dark ">Total tickets: @Model.TotalTickets</h5>
        <h5 class="text-dark ">Total sold tickets: @Model.TicketsSold</h5>
        <h5 class="text-dark ">Children ticket price: @Model.ChildrenTicketPrice</h5>
        <h5 class="text-dark ">Students ticket price: @Model.StudentsTicketPrice</h5>
        <h5 class="text-dark ">Adults ticket price: @Model.AdultsTicketPrice</h5>
        @if (Model.AvailableTickets > 0)
        {
            <h5 class="text-dark ">Available tickets: @Model.AvailableTickets</h5>
            <a asp-controller="Tickets" asp-action="Reserve" asp-route-id="@Model.Id">Reserve a ticket</a>
        }
        else
        {
            <h5 class="text-danger ">No tickets available</h5>
        }
    </div>
</div>

