@model IEnumerable<Data.Models.FilmProjection>

@{
    ViewData["Title"] = "Index";
}

<h1>Update Projections</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cinema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTickets)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cinema.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Film.FilmData.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTickets)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Manage</a>
                </td>
            </tr>
        }
    </tbody>
</table>
