@using Microsoft.AspNetCore.Identity
@using Data.Models
@model CinemaShare.Models.ViewModels.CinemaDataViewModel
@inject UserManager<CinemaUser> UserManager

@{
    ViewData["Title"] = "Detail";
}

<h1 class="text-center">Detail</h1>
@if (Model.Mananger == User.Identity.Name)
{
    <form asp-controller="Cinemas" asp-action="Manage" asp-route-id="@Model.Id" method="get">
        <input class="btn btn-info" type="submit" value="Manage cinema" />
    </form>
}
<div class="content-heading clearfix media">
    <div class="ml-4">
        <h3 class="text-dark font-weight-bold">Name: @Model.Name</h3>
        <h5 class="text-dark ">Country: @Model.Country</h5>
        <h5 class="text-dark ">City: @Model.City</h5>
        <h5 class="text-dark ">Manager: @Model.Mananger</h5>
    </div>
</div>

<h1 class="text-center">Projections</h1>
<hr>
@if (Model.FilmProjections?.Count == 0)
{
    <h5>No projections added yet.</h5>
}
else
{
    <ul class="list-unstyled">
        @foreach (var projection in Model.FilmProjections)
        {
        <li class="col-md-4 box-hover list-unstyled">
            <a asp-action="Method" asp-controller="Class" asp-route-id="" asp-route-nomer="adsdsaasd"></a>
            <a asp-controller="Projections" asp-action="Detail" asp-route-id="@projection.Id" class="text-decoration-none box-hover">
                <h5>Cinema: @projection.CinemaName</h5>
                <h5>City: @projection.CinemaCity</h5>
                <h5>Projection type: @projection.ProjectionType.ToString().Substring(1)</h5>
                <h5>Date: @projection.Date.ToString("dd/MM/yyyy HH:mm")</h5>
            </a>
        </li>
        }
    </ul>
}

