@model CinemaShare.Models.ViewModels.CinemasIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div style="display:inline-flex;" class="w-100">
    <h1>Cinemas</h1>
    <form style="margin: 0 auto;width:40%;
          display: inline-flex;"
          asp-controller="Cinemas" asp-action="Index" method="get">
        <div class="row1">
            <input name="Search" placeholder="Cinema name or city" />
            <input type="submit" value="Try Find Cinema" />
        </div>
    </form>
</div>
<div asp-validation-summary="All"  style="margin: 0 auto;width:30%; display: flex;" class="text-danger"></div>

<ul class="list-unstyled d-inline-block m-auto w-100 text-dark">
    @foreach (var cinemaCard in Model?.Cinemas)
    {
        <li style="padding-bottom: 20px;">
            <a asp-controller="Cinemas" asp-action="Detail" asp-route-id="@cinemaCard.Id"
               class="content-heading clearfix media box-hover"
               style="text-decoration:none;margin: 0 auto;width: 30%;">
                <div style="        margin-left: 30px;
">
                    <h3 class="text-dark font-weight-bold">@cinemaCard.Name</h3>
                    <h5 class="text-dark ">City: @cinemaCard.City</h5>
                    <h5 class="text-dark ">Country: @cinemaCard.Country</h5>
                    <h5 class="text-dark ">Manager: @cinemaCard.Mananger</h5>
                </div>
            </a>
        </li>
    }
</ul>


<nav>
    <ul class="pagination justify-content-center" style="padding-top:30px; margin-bottom:0px;">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route="filmsList" asp-route-id="@(this.Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : String.Empty;
            <li class="page-item @active">
                <a class="page-link"
                   asp-route="filmsList" asp-route-id="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route="filmsList" asp-route-id="@(this.Model.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</nav>
