@using Microsoft.AspNetCore.Identity
@using Data.Models
@model CinemaShare.Models.ViewModels.CinemaDataViewModel
@inject UserManager<CinemaUser> UserManager

@{
    ViewData["Title"] = "Manage Cinema";
}

<h1 class="text-center">Manage your cinema</h1>
<br />
<div>
    <form asp-controller="Cinemas" asp-action="Update" asp-route-id="@Model.Id" class="py-1" method="get">
        <input class="btn btn-primary" type="submit" value="Update cinema" />
    </form>
    <form asp-controller="Cinemas" asp-action="Delete" asp-route-id="@Model.Id" class="py-1" method="post">
        <input class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete the cinema and the related projections?');" value="Delete Cinema" />
    </form>
    <form asp-controller="Projections" asp-action="Add" asp-route-id="@Model.Id" class="py-1" method="get">
        <input class="btn btn-info" type="submit" value="Add projection" />
    </form>
</div>
<br />
<div class="content-heading clearfix media">
    <div style="margin-left:30px;">
        <h3 class="text-dark font-weight-bold">Name: @Model.Name</h3>
        <h5 class="text-dark ">Country: @Model.Country</h5>
        <h5 class="text-dark ">City: @Model.City</h5>
        <h5 class="text-dark ">Manager: @Model.Mananger</h5>
    </div>
</div>
<br />
<h1 class="text-center">Projections</h1>
<hr />
<div>
    @if (Model.FilmProjections?.Count == 0)
    {
        <h5>No projections added yet.</h5>
    }
    else
    {
        <ul>
            @foreach (var projection in Model.FilmProjections)
            {
            <li class="list-unstyled">
                <a asp-controller="Projections" asp-action="Detail" asp-route-id="@projection.Id" class="text-decoration-none box-hover">
                    <h5>Film: @projection.FilmTitle</h5>
                    <h5>Projection type: @projection.ProjectionType.ToString().Substring(1)</h5>
                    <h5>Date: @projection.Date.ToString("dd/MM/yyyy HH:mm")</h5>
                </a>
                <form asp-controller="Projections" asp-action="Update" asp-route-id="@projection.Id" class="py-1" method="get">
                    <input class="btn btn-primary" type="submit" value="Update Projection" />
                </form>
                <form asp-controller="Projections" asp-action="Delete" asp-route-id="@projection.Id" class="py-1" method="post">
                    <input class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete the projection?');" value="Delete Projection" />
                </form>
            </li>
            }
        </ul>
    }
</div>
