@model CinemaShare.Models.ViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center mb-3"> Cinema Share</h1>

<div class=" unselectable-text">
    <h1>Top rated films</h1>
    <div class="text-dark bg-dark" style="min-height:80vh;max-height:100vh;">
        <div id="topFilms" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @if (Model.TopFilms.Count > 0)
                {
                    <div class="carousel-item active cursor-pointer">
                        <a asp-controller="Films" asp-action="Detail" asp-route-id="@Model.TopFilms[0].Id"
                           class="content-heading clearfix media text-decoration-none" style="max-height:100vh">
                            <img class="d-flex h-25 mx-auto" src="@Model.TopFilms[0].Poster" alt="Film poster" style="max-height:80vh" />
                            <div class="carousel-caption d-none d-md-block bg-light unselectable-text" style="max-height:80vh;">
                                <h5 class="text-dark font-weight-bold  bg-light ">@Model.TopFilms[0].Title</h5>
                                <h5 class="text-dark  bg-light ">Rating: @Model.TopFilms[0].Rating</h5>
                                <p class="text-dark  bg-light ">@Model.TopFilms[0].Genres</p>
                            </div>
                        </a>
                    </div>
                }

                @foreach (var filmCard in Model.TopFilms.Skip(1))
                {
                    <div class="carousel-item cursor-pointer">
                        <a asp-controller="Films" asp-action="Detail" asp-route-id="@filmCard.Id"
                           class="content-heading clearfix media text-decoration-none" style=" max-height:100vh;">
                            <img class="d-block h-25 mx-auto" src="@filmCard.Poster" alt="Film poster" style="max-height:80vh">
                            <div class="carousel-caption d-none d-md-block bg-light unselectable-text" style="max-height:80vh">
                                <h5 class="text-dark font-weight-bold w-25 mx-auto">@filmCard.Title</h5>
                                <h5 class="text-dark w-25 mx-auto">Rating: @filmCard.Rating</h5>
                                <p class="text-dark w-25 mx-auto">@filmCard.Genres</p>
                            </div>
                        </a>
                    </div>
                }
                <a class="carousel-control-prev text-black-50" href="#topFilms" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only  text-dark">Previous</span>
                </a>
                <a class="carousel-control-next text-black-50" href="#topFilms" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only text-dark">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<h1 class="unselectable-text pt-5 pb-1">Newest Films</h1>

<div class="pb-5">
    <ul class="list-inline text-dark h-100 w-100">
        @foreach (var filmCard in Model.RecentFilms)
        {
            <li class="column position-relative">
                <a asp-controller="Films" asp-action="Detail" asp-route-id="@filmCard.Id"
                   class="column box-hover text-decoration-none">
                    <img src="@filmCard.Poster" style="height:300px;" alt="Film poster">
                    <div class="down-container bg-light unselectable-text position-absolute" style="bottom:-25px; left:-15px;">
                        <h5 class="text-dark font-weight-bold">@filmCard.Title</h5>
                        <h5 class="text-dark ">Rating: @filmCard.Rating</h5>
                        <p class="text-dark ">@filmCard.Genres</p>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>

<li>
    <a asp-action="Index" asp-controller="Films" class="text-center">
        <h5 class="pt-5 mb-0">See all films</h5>
    </a>
</li>