@model CinemaShare.Models.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1> Cinema Share</h1>
<h2>Add sth here</h2>

<div class=" unselectable-text">
    <h4>Top rated films</h4>
    <div class="text-dark bg-dark">
        <div id="topFilms" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @if (Model.TopFilms.Count > 0)
                {
                <div class="carousel-item active cursor-pointer" onclick="window.location.href = @Model.TopFilms[0].Redirect">
                    <img class="d-flex h-25 mx-auto" src="@Model.TopFilms[0].Poster" alt="Film poster" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-dark font-weight-bold  bg-light w-25 mx-auto">@Model.TopFilms[0].Title</h5>
                        <h5 class="text-dark  bg-light w-25 mx-auto">Rating: @Model.TopFilms[0].Rating</h5>
                        <p class="text-dark  bg-light w-25 mx-auto">@Model.TopFilms[0].Genres</p>
                    </div>
                </div>
                }

                @foreach (var filmCard in Model.TopFilms.Skip(1))
                {
                    <div class="carousel-item cursor-pointer" onclick="window.location.href = @Model.TopFilms[0].Redirect">
                        <img class="d-block h-25 mx-auto" src="@filmCard.Poster" alt="Film poster">
                        <div class="carousel-caption d-none d-md-block bg-light">
                            <h5 class="text-dark font-weight-bold w-25 mx-auto">@filmCard.Title</h5>
                            <h5 class="text-dark w-25 mx-auto">Rating: @filmCard.Rating</h5>
                            <p class="text-dark w-25 mx-auto">@filmCard.Genres</p>
                        </div>
                    </div>
                }
                <a class="carousel-control-prev text-black-50" href="#topFilms" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only  text-dark">Previous</span>
                </a>
                <a class="carousel-control-next text-black-50" href="#topFilms" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only text-dark">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<div>
    <h1>Newest Films</h1>
    <ul class="list-inline text-dark w-100" >
        @foreach (var filmCard in Model.RecentFilms)
        {
        <li class="col-md-3 list-inline-item cursor-pointer" onclick="window.location.href = @Model.TopFilms[0].Redirect">
            <img class="rounded mx-auto d-block h-50 w-75" src="@filmCard.Poster" alt="Film poster">
            <div class="down-container bg-light">
                <h5 class="text-dark font-weight-bold">@filmCard.Title</h5>
                <h5 class="text-dark " >Rating: @filmCard.Rating</h5>
                <p class="text-dark ">@filmCard.Genres</p>
            </div>
        </li>
        }
    </ul>
</div>

<a href="/films">See all films</a>
